
<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
	</tr>
<h2>List of articles </h2>
<% @user.articles.each do |t| %>
	<tr>
	<td><%= t.title %></td>
	<td><%= t.description %> </td>
	<td><%= link_to "Show",t %></td>
	<td><%= link_to 'Destroy', t, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %> 

</table>
